.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 150px;
  width: 150px;
  margin-bottom: 1.5rem;
  transition: transform 0.3s ease;
  filter: drop-shadow(0 4px 6px rgba(0, 0, 0, 0.1));
}

.featureSvg:hover {
  transform: scale(1.05);
}
